<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/caixa.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2217896303838522"crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>BUSCA E ACHA</title>
</head>
<body>
    <div class="navbar">
        <a href="/" class="logo">📦 Busca e Acha</a>
    </div>
    <div class="container">
        <h1>Rastreie suas encomendas de forma gratuita</h1>
        <form action="/rastrear" method="get">
            <input type="text" name="c" placeholder="Código de rastreamento" autocomplete="off">
            <button type="submit">Pesquisar</button>
        </form>
        <main>
            <% if (mensagem) { %>
                <div class="erros">
                    <p class="mensagem-erro"><%= mensagem %></p>
                </div>
            <% } else if (eventos && eventos.length > 0) { %>
                <div class="container-de-eventos">
                    <% eventos.forEach(evento => { %>
                        <div class="evento">
                            <p class="descricao"><%= evento.descricao %></p>
                            <p><%= new Date(evento.dtHrCriado).toLocaleString('pt-BR', { dateStyle: 'short', timeStyle: 'short' }) %></p>
                            <% if (evento.unidade) { %>
                                <p><%= evento.unidade.tipo %> <%= evento.unidade.endereco.uf %></p>
                            <% } %>
                        </div>
                    <% }) %>
                </div>
            <% } else if (eventos && eventos.length === 0) { %>
                <p>Nenhum evento de rastreamento disponível para o código inserido.</p>
            <% } else { %>
                <p></p>
            <% } %>
        </main>
    </div>
</body>
</html>